{% extends "common/base.html" %}

{% load bootstrap3 %}

{% block pagetitle %} Joinrpg: Старт {% endblock %}
{% block content %} 
<h1> Index page</h1>
<section>
    <h2>Мои заявки на игры</h2>
    <ul>
        <li>Заявка на игру 1</li>
        <li>Заявка на игру 2</li>
        <li><a href="{% url 'project_discover' %}">Выбрать игру и заявиться на нее</a></li>
    </ul>
</section>
<section>
    <h2>Игры, которые я мастерю</h2>
    <ul>
        <li>Игра 1</li>
        <li>Игра 2</li>
        <li><a href="{% url 'project_create' %}">Добавить базу персонажей для моей игры</a></li>
    </ul>
</section>
{% endblock %}