{% extends "common/base.html" %}

{% load bootstrap3 %}

{% block pagetitle %} Joinrpg: Старт {% endblock %}
{% block content %} 
<h1>Игра «{{project.name}}»</h1>
<p><b>Сайт игры:</b> {{project.external_site}}</p>
<p><b>Даты:</b> {{project.game_begin_date}} — {{project.game_end_date}}</p>
<p><b>Статус:</b> {{project.status}}</p>
<section>
    <h2>Описание проекта</h2>
    <p>{{project.description}}</p>
</section>
<section>
    <h2>Служебные функции (TODO: применять права)</h2>
    <li><a href="{% url 'project_edit_fields' project.id %}">Редактировать поля объектов</a></li>
</section>
{% endblock %}